@CHARSET "Windows-31J";

button{
	margin-bottom:4px;
}

div.center {
	text-align: center; /* 中央寄せにする */
}

table {
	margin-left: auto; /* 左のマージンを中央に配置する */
	margin-right: auto; /* 右のマージンを中央に配置する */
}

.panel-heading {
	padding: 10px 15px; /* パディング上下左右を10px、15pxに変更する */
	border-bottom: 1px solid transparent; /* 下ボーダーに線を引く */
	border-top-left-radius: 3px; /* 左上の角丸を変更する */
	border-top-right-radius: 3px; /* 右上の角丸を変更する */
}

div.a{
background: #f3f3f3;
}

.s-tbl {
	border-collapse: collapse;

}

.s-tbl th, .s-tbl td {
	font-size: 12px;
	border: 1px solid #000;
}

.s-tbl tr:nth-child(2n) {
	background: #eee;
}

.s-tbl tr:first-child, .s-tbl th:first-child {
	background: #b0e0e6;
}

table.s-tbl:hover tbody tr:hover td {
	background: #ff0;
}

table.s-tbl:hover tbody tr:hover th {
	background: #b0e0e6;
}

.s-tbl tr:hover {
	background: #ff0;
}

#bg-blue {
	width: 200px; /* 横幅を200pxにする */
	background-color: #AEF6EF; /* 背景のカラーを変更する */
}

.list tr:nth-child(2n) {
	background: #eee;
}

.link {
	display: block;
	width: 100%;
	height: 100%;
}

.a{
	background-color: #AEF6EF;
}

#bg-blue {
	width: 200px; /* 横幅を200pxにする */
	background-color: #AEF6EF; /* 背景のカラーを変更する */
}

#bg-red {
	width: 200px;
	background-color: #FF69B4;
}

.list {
	border-collapse: collapse;
}

.list th, .list td {
	border: 1px solid #000;
}

table.list:hover tbody tr:hover td {
	background: #ff0;
}
