@CHARSET "Windows-31J";

div.center {
	text-align: center;                         /* 中央寄せにする */
}

table {
	margin-left: auto;                          /* 左のマージンを中央に配置する */
	margin-right: auto;                         /* 右のマージンを中央に配置する */
}

.panel-heading {
	padding: 10px 15px;                         /* パディング上下左右を10px、15pxに変更する */
	border-bottom: 1px solid transparent;       /* 下ボーダーに線を引く */
	border-top-left-radius: 3px;                /* 左上の角丸を変更する */
	border-top-right-radius: 3px;               /* 右上の角丸を変更する */
}

#bg {
	width: 200px;                               /* 横幅を200pxにする */
	background-color: #AEF6EF;                  /* 背景のカラーを変更する */
}