@CHARSET "Windows-31J";

div.center{
	text-align:center;

}

table{
	margin-left:auto;
	margin-right:auto;
}

table.s-tbl {
	border-collapse: collapse;
}
table.s-tbl th, .s-tbl td {
	border: 1px solid #000;
}
table.s-tbl tr:nth-child(odd) {
	background: #eee;
}
table.s-tbl tr:hover {
	background: #ff0;
}

#bg{
	width:200px;
	background-color:#AEF6EF;
}
